<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ug.dataplus_systems.vcsmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:name=".MyApplicationClass">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".PapView"
            android:label="@string/title_activity_pap_view" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PapDetailsLive"
            android:label="@string/title_activity_pap_details_live"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.dataplus_systems.vcsmobile.MainActivity" />
        </activity>
        <activity
            android:name=".PapViewLive"
            android:label="@string/title_activity_pap_view_live"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.dataplus_systems.vcsmobile.MainActivity" />
        </activity>
        <activity
            android:name=".NewPapActivity"
            android:label="@string/title_activity_new_pap"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.dataplus_systems.vcsmobile.MainActivity" />
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.dataplus_systems.vcsmobile.MainActivity" />
        </activity>
        <activity
            android:name=".ProjectStats"
            android:label="@string/title_activity_project_stats"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.dataplus_systems.vcsmobile.MainActivity" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.dataplus_systems.vcsmobile.MainActivity" />
        </activity>
        <activity
            android:name=".MyTasksActivity"
            android:label="@string/title_activity_my_tasks"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ug.dataplus_systems.vcsmobile.MainActivity" />
        </activity>
    </application>

</manifest>
